package templates

import layout "github.com/computerextra/datenschutz_training_golang/Templates/Layout"

templ Home() {
	@layout.Base("Startseite") {
		<div class="">
			<h1 class="text-3xl font-bold underline">Hello World!</h1>
		</div>
	}
}
