package components

templ Link(href string, text string) {
	<a class="text-blue-500 underline hover:text-blue-700 focus:text-blue-700" href="{ href }">{ text }</a>
}

templ NavLink(href string, text string) {
	<a class="text-blue-500 underline hover:text-blue-700 focus:text-blue-700" href="{ href }">{ text }</a>
}
